.about-title-side1 {
	color: #89cfeb;
}

.about-title-side2 {
	color: #005c80;
}

.about-container {
	width: 100%;
	display:flex;
	flex-wrap: wrap;
}

.about-desc {
	display:flex;
	text-align: center;
	align-items: center;
	font-size: 24px;
	color: white;
	background-color: #005c80;
	padding: 40px;
	width:50%;
	box-shadow: 2px 2px #5f5f5f;
	text-shadow: 2px 2px #5f5f5f;
}

.logo-desc {
	padding:60px;
	width:50%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.logo-img-desc {
	/* align-self: center; */
	margin-bottom: -60px;
	width: 200px;
}

.contact-section {
	padding: 40px;
	background-color: #89cfeb;
	box-shadow: 2px 2px #5f5f5f;
	text-align: center;
	text-shadow: 2px 2px #5f5f5f;
}

.contact-section h1 {
	color:#005c80;
	font-size: 60px;
}

.contact-section p {
	color: white;
	font-size: 24px;
}

.profile-section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.profile {
	width: 25%;
	text-align: center;
	padding: 10px;
	text-shadow: 2px 2px #5f5f5f;
	color: white;
}

.profile img {
	width: 180px;
	height: 180px;
	margin: 10px;
	border-radius: 100px;
	border:solid 4px #005c80;
	box-shadow: 2px 2px #5f5f5f;
}

@media(max-width: 1000px) {
	.about-desc,
	.logo-desc {
		width: 100%;
	}

	.profile {
		width: 50%;
	}
}