.gameBtn1 {
	background-image: url('./../img/PlayButton/Play_Button1_580x180.png');

	border: 2px solid black;
	border-radius: 40px;
	box-shadow: black 12px 12px 0 0;
	color: black;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 580px;
	height: 180px;
}

.gameBtn1:hover {
	background-image: url('./../img/PlayButton/Play_Button2_580x180.png');
}

.gameBtn1:active {
	background-image: url('./../img/PlayButton/Play_Button1_580x180.png');
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

.gameBtn2 {
	background-image: url('./../img/PlayButton/Back_Button1_300x90.png');
	border: 2px solid #422800;
	border-radius: 20px;
	box-shadow: #422800 12px 12px 0 0;
	color: #422800;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 300px;
	height: 90px;
}

.gameBtn2:hover {
	background-image: url('./../img/PlayButton/Back_Button2_300x90.png');
}

.gameBtn2:active {
	background-image: url('./../img/PlayButton/Back_Button1_300x90.png');
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

@media (min-width: 768px) {
	.gameBtn1,
	.gameBtn2 {
		min-width: 120px;
		padding: 0 25px;
	}
}
