.tutorial-title-side1 {
	color: #547e92;
}

.tutorial-title-side2 {
	color: #bedce2;
}

.tutorial-container {
	width: 100%;
	display:flex;
	flex-wrap: wrap;
}

.logo-desc {
	padding:60px;
	width:50%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.logo-img-desc {
	align-self: center;
    margin-bottom: -60px;
    width: 350px;
}

.tutorial-desc {
	display:flex;
	text-align: center;
	align-items: center;
	font-size: 36px;
	color: white;
	background-color: #547e92;
	padding: 40px;
	width: 50%;
	box-shadow: 2px 2px #5f5f5f;
	text-shadow: 2px 2px #5f5f5f;
}

.mechanics-container-1,
.mechanics-container-2 {
	text-align: center;
    padding: 15px 10px 10px;
	text-shadow: 2px 2px #5f5f5f;
}

.mechanics-container-1 h1,
.mechanics-container-2 h1 {
    font-size: 60px;
}

.mechanics-container-1 p,
.mechanics-container-2 p {
    font-size: 24px;
}

.mechanics-container-1 {
    background-color: #bedce2;
	color: #547e92;
}

.mechanics-container-2 {
    background-color: #547e92;
	color: white;
}

section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    text-align: center;
	padding: 10px;
}

.mechanic-1,
.mechanic-2 {
	width: 30%;
	padding: 10px;
    color: white;
	text-shadow: 2px 2px #5f5f5f;
    border-radius: 10px;
    box-shadow: 2px 2px #5f5f5f;
    margin: 10px;
}

.mechanic-1 {
	border:solid 4px #547e92;
}

.mechanic-2 {
	border:solid 4px #bedce2;
}

.mechanic-1 img,
.mechanic-2 img {
	width: 120px;
	height: 180px;
	margin-bottom: 6px;
    padding:10px;
}

.img {
    display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.img .img-desc {
    width: 180px;
}

@media(max-width: 1000px) {
	.tutorial-desc,
	.logo-desc {
		width: 100%;
	}

    .mechanic-1,
	.mechanic-2 {
		width: 50%;
	}
}