/* main article styling */

legend {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	/* background-color: #4d3d29; */
	background-color: transparent;
	height: 30px;
	color: black;
	text-transform: uppercase;
	width: 100%;
	margin: 0;
	padding: 5px 0;
}
fieldset {
	margin: 0;
	padding: 0;
	background-color: #d5b69a;
	width: 100%;
	border: none;
}
form p {
	margin-top: 0.5em;
}

label {
	font-size: 20px;
	font-weight: 600;
}
section {
	margin-bottom: 1em;
	padding: 0;

	width: 100%;
}

.table-feedback {
	margin-top: 50px;
}
/*Table Formating*/
table {
	border: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 0 auto;
}
table tbody td {
	line-height: 1.5em;
	vertical-align: top;
	padding: 0em 0.75em 0em 0.75em;
}

input[name='title'],
textarea[name='description'] {
	width: 100%;
	padding: 5px;
}

input[name='email'] {
	width: 450px;
	padding: 5px;
}
input[name='email'],
input[name='title'],
textarea[name='description'],
input[name='date'],
input[name='time'] {
	background-color: #ededed;
	font-size: 25px;
	font-family: Elemento;
	padding: 5px;
}

input[name='email'],
input[name='title'],
input[name='date'],
input[name='time'] {
	height: 35px;
}

/* .box-date-time {
	border-bottom: 1pt solid #4d3d29;
	padding-bottom: 1em;
} */

.rectangle-date-time {
	/* background-color: #4d3d29; */
	background-color: transparent;
	padding: 1em;
	font-family: Elemento;
	text-align: center;
}

.rounded {
	border: none;
	border-radius: 7px;
	text-align: center;
	font-weight: bold;
	background-color: #e91e63;
	background-color: #005c80;
	padding: 0.5em 0 0.5em 0;
	margin: 0.3em;
	width: 7em;
	height: 3em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.rounded:hover {
	background-color: #ff4081;
	/* background-color: #8a2828; */
}
