body{
    background-color: #f5826e;
}
h2{
    margin: 10px auto;
    word-spacing: 150px;
    text-align: center;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p1{
    font-style: italic;
}