body{
    background-color: #f5826e;
}
h2{
    margin: 10px auto;
    word-spacing: 150px;
    text-align: center;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p1{
    font-style: italic;
    font-size: large;
  /*  box-sizing: border-box;
    width: 100%;
    border: solid black 2px;
    padding: 5px; */
}