.about-desc {
	padding-top: 20px;
	position: absolute;
	padding-left: 40px;
	display: flex;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	justify-content: start;
	width: 700px;
}
.desc-about-page-div {
	color: #fbeee0;
}
.logo-img-desc {
	width: 270px;
	transform: scaleX(-1);
}
.logo-desc {
	text-align: right;
	padding-right: 200px;
}
.header h1 {
	font-size: 50px;
	padding-left: 28px;
	text-align: center;
}

.floor-img-desc {
	border-top: 5px solid;
	color: #fbeee0;
	width: 100%;
	position: absolute;
	bottom: -40px;
	z-index: -1;
}

.about-tile-side2 {
	color: #3b2f1f;
}
/* the format for the header pic */
.first-section {
	padding-top: 50px;
	font-size: 35px;
	display: block;
	justify-content: center;
	text-align: center;
	margin-bottom: 30px;
}
.about-box2 {
	width: 100%;
	height: 270px;
	position: absolute;
	background-color: #005c80;
	margin-top: 40px;
	box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.8), 0px 10px 10px rgba(0, 0, 0, 0.8);
}
/* text for the about us */
.text-big {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}
/* format for the text under about us */
.text-small {
	font-size: 20px;
	text-align: center;
}

.about-box1 {
	width: 740px;
	height: 646px;
	z-index: -1;
	position: absolute;
	background-color: #8a2828;
	box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5) inset;
}

.about-box3 {
	width: 100%;
	height: 270px;
	position: absolute;
	top: -20px;
	background-color: #5f5f5f;
	z-index: -1;
}

.about-box8 {
	width: 100%;
	height: 68px;
	position: absolute;
	background-color: #005c80;
	box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.8);
}
/* this will make the people either in a line horizontally or in a line vertically */
#profiles {
	margin: 34px;
	margin-top: 0px;
	display: flex;
}

/* padding for pices */
#profiles .pic {
	padding-left: 155px;
	border-radius: 28px;
}
/* this is to make the image area circular not square */
#profiles .pic img {
	top: 10px;
	height: 150px;
	margin: auto;
	border-radius: 100px;
}

.pic p {
	display: block;
}

#profiles .pic p {
	text-align: center;
}

.center {
	text-align: center;
}

.text-footer {
	text-align: center;
	padding: 10px 0;
	font-size: 15px;
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 650px) {
	.column {
		width: 100%;
		display: block;
	}
}
