.about-container {
	width: 100%;
	display:flex;
	flex-wrap: wrap;
}
.desc-about-page-div {
	display:flex;
	text-align: center;
	align-items: center;
	font-size: 24px;
	color: white;
	background-color: #005c80;
	padding: 40px;
	width:50%;
	box-shadow: 2px 2px #5f5f5f;
	text-shadow: 2px 2px #5f5f5f;
}
.logo-img-desc {
	align-self: center;
	margin-bottom: -70px;
}

.logo-desc {
	padding:60px;
	width:50%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.floor {
	display:flex;
	flex: wrap;
	justify-content: center;
}

.title-about {
	font-size: 90px;
	text-align: center;
	text-shadow: 2px 2px #5f5f5f;
}

.about-title-side1 {
	color: #89cfeb;
}
.about-title-side2 {
	color: #005c80;
}

.background-first-section {
	padding: 40px;
	background-color: #89cfeb;
	box-shadow: 2px 2px #5f5f5f;
	text-align: center;
	text-shadow: 2px 2px #5f5f5f;
}

.background-first-section h1 {
	color:#005c80;
	font-size: 60px;
}

.background-first-section p {
	color: white;
	font-size: 24px;
}

.profile-second-section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.profile {
	width: 25%;
	text-align: center;
	padding: 10px;
	text-shadow: 2px 2px #5f5f5f;
}

.profile img {
	width: 180px;
	height: 180px;
	margin: 10px;
	border-radius: 100px;
	border:solid 4px #005c80;
	box-shadow: 2px 2px #5f5f5f;
}

.text-footer {
	text-align: center;
	padding: 10px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	background-color: hsl(0, 0%, 15%);
	box-shadow: 2px 2px #5f5f5f;
	color: white;
}

@media(max-width: 1000px) {
	.desc-about-page-div,
	.logo-desc {
		width: 100%;
	}

	.profile {
		width: 50%;
	}
}