.container {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 50px auto;
	padding: 20px;
	width: 80%;
}

.home-link,
.navbar-link {
	padding: 30px;
}

.container h1 {
	text-align: center;
}

.container fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.container legend {
	font-size: 24px;
	margin-bottom: 20px;
}

.container .row {
	display: flex;
	margin-bottom: 10px;
	text-align: center;
	font-weight: 700;
}

.container .col-25 {
	flex: 25%;
}

.container .col-75 {
	flex: 75%;
}

.container input[type='text'],
.container input[type='email'],
.container textarea {
	border-radius: 5px;
	border: 1px solid #a10101;
	padding: 10px;
	width: 100%;
}

.container button[type='submit'] {
	background-color: #333;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 20px;
	text-transform: uppercase;
}

.container button[type='submit']:hover {
	background-color: #555;
}
