.home-link,
.navbar-link {
	padding: 10px;
}

.title-feedback {
	font-size: 90px;
	text-align: center;
	text-shadow: 2px 2px #5f5f5f;
}

.feedback-title-side1 {
	color: #d5b69a;
}

.feedback-title-side2 {
	color: #635645;
}

.form-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 2px 2px #5f5f5f;
}

.feedback-thanks {
	display:flex;
	text-align: center;
	align-items: center;
	font-size: 36px;
	color: white;
	background-color: #d5b69a;
	padding: 60px;
	width:50%;
	text-shadow: 2px 2px #5f5f5f;
}

.logo-img-desc {
	display:block;
	width: 200px;
	margin: auto;
}

.container {
	background-color: #635645;
	padding: 20px;
	width: 50%;
	color: white;
	text-shadow: 2px 2px #5f5f5f;
}

.container h1 {
	text-align: center;
}

.container fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.container legend {
	font-size: 24px;
	margin-bottom: 20px;
	background-color: #d5b69a;
	width: 100%;
	padding:6px;
	text-shadow: 2px 2px #5f5f5f;
	box-shadow: 2px 2px #5f5f5f;
}

.container .row {
	display: flex;
	margin-bottom: 10px;
	text-align: center;
	font-weight: 700;
}

.container .col-25 {
	flex: 25%;
}

.container .col-75 {
	flex: 75%;
}

.container input[type='text'],
.container input[type='email'],
.container textarea {
	margin-top: -5px;
	border-radius: 5px;
	border: 2px solid white;
	padding: 10px;
	width: 100%;
	resize: none;
	background-color: transparent;
	color: #d5b69a;
	box-shadow: 2px 2px #5f5f5f;
}

.container button[type='submit'] {
	background-color: #d5b69a;
	border: none;
	border-radius: 5px;
	color: #635645;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 20px;
	text-transform: uppercase;
	display: block;
	margin: auto;
	box-shadow: 2px 2px #5f5f5f;
}

.container button[type='submit']:hover {
	background-color: white;
}

.text-footer {
	text-align: center;
	padding: 10px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	background-color: hsl(0, 0%, 15%);
	box-shadow: 2px 2px #5f5f5f;
	color: white;
}

.floor {
	display:flex;
	flex: wrap;
	justify-content: center;
}

@media(max-width: 1000px) {
	.container,
	.feedback-thanks {
		width: 100%;
	}
}