.game-footer {
	padding-top: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: end;
	align-items: end;
	text-align: bottom;
	top: 620px;
}

.gametab-title {
	text-align: center;
	font-size: 100px;
	position: fixed;
	right: 70%;
	left: 30%;
	padding-top: 50px;
}

.game-screen {
	margin: 0px;
	background-color: #718383;
	width: 100%;
}

.game-screen canvas {
	padding: 0;
	margin: 0px auto 0px;
	position: fixed;
	width: 100%;
}
