.title-game {
	font-size: 90px;
	text-align: center;
	text-shadow: 2px 2px #5f5f5f;
	color: #ededed;
}

.game-screen {
	background-color: #718383;
}

.game-screen canvas {
	display:block;
	margin: 0px auto 0px;
	width: 90%;
}

.game-footer {
	width: 100%;
	display:flex;
	justify-content: end;
	align-items: end;
	padding-top: 40px;
}